/* app css stylesheet */

html, body {
    height: 100%;
}

body {
    margin: 0px;
    background: #eee;
    font-family: STHeiti,"微软雅黑","Microsoft Yahei",Arial,Helmet,Freesans,sans-serif;
}

body,select,input,textarea {
    color: #555;
}

body .mdCtn {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

body .tbCtn {
    height: 70px;
    width: 100%;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    background: url(../img/mainbar.png) repeat-x scroll;
    background-image: -webkit-image-set(url("../img/mainbar.png") 1x,url("../img/mainbar@2x.png") 2x);
    background-image: -moz-image-set(url("../img/mainbar.png") 1x,url("../img/mainbar@2x.png") 2x);
    background-image: -ms-image-set(url("../img/mainbar.png") 1x,url("../img/mainbar@2x.png") 2x);
    background-image: -o-image-set(url("../img/mainbar.png") 1x,url("../img/mainbar@2x.png") 2x);
}

.tbCtn .schCtn {
    position: absolute;
    right: 0;
    height: 71px;
    width: 23px
}

.tbCtn .schCtn .schBxCtn .schFld {
    height: 38px;
    border: 1px solid #000;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.75);
    box-shadow: inset 0 0 4px rgba(0,0,0,0.75);
    background: #eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 100%;
    outline: none 0;
    line-height: 12px;
    font-size: 12px;
    color: #bbb;
    padding-left: 20px
}

.tbCtn .menuBtn {
    width: 70px;
    height: 70px;
    float: left;
    background: url(../img/menuBtns.png) no-repeat scroll;
    background-image: -webkit-image-set(url("../img/menuBtns.png") 1x,url("../img/menuBtns@2x.png") 2x);
    background-image: -moz-image-set(url("../img/menuBtns.png") 1x,url("../img/menuBtns@2x.png") 2x);
    background-image: -ms-image-set(url("../img/menuBtns.png") 1x,url("../img/menuBtns@2x.png") 2x);
    background-image: -o-image-set(url("../img/menuBtns.png") 1x,url("../img/menuBtns@2x.png") 2x)
}

.tbCtn .menuBtn.srch {
    background-position: 0 0;
    position: absolute;
    right: 0;
    top: 0
}

.locked {
    /*display: none!important;*/
    background: url(../img/mainbar.png) repeat scroll;
    background-image: -webkit-image-set(url("../img/mainbar.png") 1x,url("../img/mainbar@2x.png") 2x);
    background-image: -moz-image-set(url("../img/mainbar.png") 1x,url("../img/mainbar@2x.png") 2x);
    background-image: -ms-image-set(url("../img/mainbar.png") 1x,url("../img/mainbar@2x.png") 2x);
    background-image: -o-image-set(url("../img/mainbar.png") 1x,url("../img/mainbar@2x.png") 2x);
}

.lockedLine {
    margin:10px auto;
    text-indent:-999em;
    height:1px;
    line-height: 4px;
    /*width: 50px;*/
    overflow:hidden;
    
    background: #99dd33;
    color: #fff;

    -webkit-box-shadow: 0 0 5px #99dd33;
    -moz-box-shadow: 0 0 5px #99dd33;
    -ms-box-shadow: 0 0 5px #99dd33;
    -o-box-shadow: 0 0 5px #99dd33;
    box-shadow: 0 0 5px #99dd33;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
}